<!-- <h1 style="text-align: center"> {{ 'RESTAURANTE PACO' | translate }} </h1>


<p align ="center">
<img src="https://img2.rtve.es/i/?w=1600&i=1600277791332.jpg" alt="comida"width="1200"height="470" >
</p> -->

<!-- Aquí abaixo é o bo -->

<!-- <header>
    <div class="caja">
        <img src="https://img2.rtve.es/i/?w=1600&i=1600277791332.jpg" alt="comida"width="1200"height="470" >
        <div class="texto1">Restaurante Paco</div>
    </div>
</header> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main-home.component.scss">
    <title>Document</title>
</head>
<body>
    
    <div class="fondo"></div>
    <div class="texto1">Restaurante Paco</div>
    
</body>
</html>
