<form [formGroup]="contactForm" (ngSubmit)="save()" class="h-full">
  <div fxLayout="column" fxLayoutGap="20px" class="form-content">
    <div class="input-row">
      <mat-card fxFlex>
        <mat-card-header>
          <mat-card-title>{{ 'COMANDA' | translate }}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
            <mat-form-field fxFlex>
              <input matInput type="text" color="primary" placeholder="{{ 'Mesa' | translate }}" formControlName="mesa"
                name="contact-mesa" required />
            </mat-form-field>
          </div>

          <!-- <div class="input-row">
            <mat-form-field fxFlex>
              <input matInput type="number" color="primary" placeholder="{{ 'Menu' | translate }}"
                formControlName="menus" name="contact-menu" required />
            </mat-form-field>
          </div> -->
          <div class="input-row">
          <mat-form-field fxFlex>
            <mat-label>Menú</mat-label>
            <mat-select formControlName="menus" name="menus" >
              <mat-option></mat-option>
              <mat-option *ngFor="let menus of menuschek" [value]="menus.value">
                {{menus.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


          <mat-card-actions>
            <div fclass="input-row" xLayoutGap="20px" fxLayoutAlign="center center">
              <button fxFlex="25" fxFlex.xs="30" mat-raised-button type="button" (click)="cancel()"
                [formNoValidate]="true">{{ 'button.cancel' | translate }}</button>
              <button fxFlex="25" fxFlex.xs="30" mat-raised-button type="submit" color="primary"
                [disabled]="!contactForm.valid">{{ 'button.save' | translate }}</button>
              <!-- <button mat-raised-button (click)="onAddMenu()">
                <mat-icon>add</mat-icon> {{ "new" | translate }}
              </button> -->
            </div>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</form>
